/**************************/
/* BELOW 944px */
/**************************/

@media (max-width: 59em) {
  .preview-card {
    grid-template-columns: 47.5rem;
    grid-template-rows: 28rem 41rem;

    overflow: hidden;
  }

  .image {
    width: 100%;
    height: 28rem;
    border-radius: 0;
  }

  .card {
    padding: 4rem 4rem 1rem;
  }

  .topic {
    margin-bottom: 1.7rem;
  }

  .para {
    font-size: 1.8rem;
    margin-bottom: 4rem;
  }

  .profile {
    padding-right: 12rem;
    /* height: 3rem; */
  }

  .name {
    font-size: 1.7rem;
  }

  .share {
    z-index: 10;
    /* margin-left: 2rem; */
  }

  .icon-container {
    width: 100%;
    height: 11.5rem;
    padding: 0 19rem 2rem 4rem;
    border-radius: 0;
  }

  .icon-box {
    /* width: 48rem; */
    height: 13rem;
    bottom: -6rem;
    right: -5rem;
    z-index: 3;
  }
  .icon-shape {
    display: none;
  }

  .icon1 {
    font-size: 2rem;
  }
  .icon {
    height: 3rem;
    padding: 0 1rem;
  }
}

/**************************/
/* BELOW 540px */
/**************************/
@media (max-width: 34em) {
  .preview-card {
    grid-template-columns: 41rem;
    grid-template-rows: 26rem 41rem;
  }

  .image {
    height: 26rem;
  }

  .card {
    padding: 2.5rem 2.5rem 1rem;
  }

  .topic {
    font-size: 2.3rem;
    margin-bottom: 1.5rem;
  }

  .para {
    font-size: 1.9rem;
    margin-bottom: 3rem;
  }

  .profile {
    padding-right: 8rem;
  }

  .icon-container {
    height: 10.5rem;
    padding: 0 14rem 0 2rem;
  }

  .icon-shape {
    display: none;
  }
}

/**************************/
/* BELOW 426px */
/**************************/
@media (max-width: 27em) {
  .preview-card {
    grid-template-columns: 35rem;
    grid-template-rows: 26rem 38rem;
  }

  .image {
    width: 100%;
    height: 26rem;
  }

  .card {
    padding: 3rem 2.5rem;
  }

  .topic {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .para {
    font-size: 1.7rem;
    margin-bottom: 3rem;
    line-height: 1.5;
  }

  .box {
    margin-top: 2rem;
  }

  .profile {
    padding-right: 3rem;
  }

  .icon-container {
    height: 10rem;
    margin-left: 1rem;
    padding: 0 10rem 0 3rem;
  }

  .icon-box {
    height: 9rem;
    bottom: -2rem;
    right: -2rem;
  }

  .icon {
    padding: 0 1rem 0 0;
  }
  .icon-shape {
    display: none;
  }
}
